@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,900&display=swap');

:root{
    --orange: #ffa500;
    --black: #130f40;
    --light-color:#666
    --outline: .1rem solid rgba(0,0,0,.1);
    --outline-hover: .2rem solid var(--orange);
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    text-transform: capitalize;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
}

*::selection{
    background: var(--orange);
    color: #fff;
}

html{
    font-size: 62.5%;
    /* overflow: hidden; */
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
}

body{
    background: #F8F9FA !important;
}


#loader{
    background: #fff url(../images/loadingg.gif) no-repeat center center;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 1000000; 
   
}


    

.bg_loader{
    position: fixed;
    z-index: 1001;
    background: #fff;
    width: 100%;
    height: 100vh;
}

section{
    padding: 2rem 9%;
}

/* section:nth-child(even){
    background: #eee;
} */

.heading{
    text-align: center;
    padding: 2rem 0;
    padding-bottom: 3rem;
    font-size: 3.5rem;
    color: #000;
}

.heading span{
    background: var(--orange);
    color: #fff;
    display: inline-block;
    padding: 1.5rem 2rem;
    clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    background: var(--orange);
    color: #fff;
    padding: .8rem 3rem;
    border: .2rem solid var(--orange);
    border-radius: 3px;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover{
    background: #fff;
    /* color: var(--orange); */
    color: #000;
}

header{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background: #fff;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    line-height: 60px;
}

header .logo{
    font-size: 1.5rem;
    font-weight: bolder;
}

header .navbar a{
    line-height: 60px;
    color: #000;
    font-size: 2rem;
    margin: .8rem;
    text-decoration: none;
}

header .navbar a:hover{
    color: var(--orange);
}

header .icons i{

    font-size: 2rem;
    color: var(--orange);
    cursor: pointer;
    margin-right: 2rem;
}

header .icons i:hover{
  color: rgb(128, 42, 204);
}

header .search-bar-container{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding: 1.5rem 2rem;
    background: rgba(233, 222, 222, 0.485);
    border-top: .1rem solid rgba(255,255,255,.2);
    display: flex;
    align-items: center;
    z-index: 1001;
    clip-path: polygon(0 0, 100% 0, 0 0);
}

header .search-bar-container.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%) !important;
}

header .search-bar-container #search-bar{
    width: 100%;
    height: 40px;
    padding: 1rem;
    text-transform: none;
    color: #333;
    font-size: 1.7rem;
    border-radius: .5rem;
}

header .search-bar-container label{
    color: var(--orange);
    cursor: pointer;
    font-size: 3rem;
    margin-left: 1.5rem;
}

header .search-bar-container label:hover{
    color: rgb(128, 42, 204);
}


.login-form-container{
    position: fixed;
    top: -160%;
    left: 0;
    z-index: 1000011;
    min-height: 100vh;
    width: 100%;
    background: rgba(0,0,0,.7);
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form-container.active{
    width: 100% !important;
    top: 0 !important;
}

.login-form-container form{
    margin: 2rem;
    padding: 1.5rem 2rem;
    border-radius: .5rem;
    background: #fff;
    width: 50rem;
}

.login-form-container form h3{
    font-size: 3rem;
    color: #444;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem 0;
}

.login-form-container form .box{
    width: 100%;
    padding: 1rem;
    font-size: 1.7rem;
    color: #333;
    margin: .6rem 0;
    border: .1rem solid rgb(0, 0, 0,0.3);
    text-transform: none;
}

.login-form-container form .box:focus{
    border-color: var(--orange);
}

.login-form-container form #remember{
    margin: 2rem 0;
}

.login-form-container form label{
    font-size: 1.5rem;
}

.login-form-container form .btn{
    display: block;
    width: 100%;
}

.login-form-container form p{
    padding: .5rem 0;
    font-size: 1.5rem;
    color: #666;
}

.login-form-container form p a{
    color: var(--orange);
}

.login-form-container form p a:hover{
    color: #333;
    text-decoration: underline;
}

.login-form-container #form-close{
    position: absolute;
    top: 2rem;
    right: 3rem;
    font-size: 5rem;
    color: #fff;
    cursor: pointer;
}

#menu-bar{
    color: #666;
    border-radius: .5rem;
    font-size: 3rem;
    padding: .5rem 1.2rem;
    cursor: pointer;
    display: none;
}

.home{
    background: url(../images/background.webp)  !important;
}

.home .home-slider .slide{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding-top: 9rem;
    background: var(--box-shadow);
}

.home .home-slider .slide .content{
    flex: 1 1 45rem;
}

.home .home-slider .slide .image{
    flex: 1 1 45rem;
    margin-top: 3rem;
}

.home .home-slider .slide .image img{
    transform: scale(.8);
    width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
}

.home .home-slider .slide .content h3{
    color: #fff;
    text-transform: uppercase;
    font-size: 7rem;
    letter-spacing: 1px;
}


.home .home-slider .slide .content p{
    color: #eee;
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 1px;
    padding: .5rem 0;
    line-height: 1.5;
}

.heading2{
    background: #F8F9FA !important;
    margin-top: 30px;
}

.Benefits-container{
    background: #F8F9FA !important;
    display: grid;
    gap: 2;
    grid-template-columns: repeat(auto-fit, minmax(20rem,1fr));
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.Benefits-container .icons-container{
    margin: 0 2px;
    border: .2rem solid var(--orange);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    text-align: center;
    padding: 3.5rem;
}

.Benefits-container .icons-container i{
    font-size: 4.5rem;
    color: var(--orange);
    padding-bottom: .7rem;
}

.Benefits-container .icons-container h3{
    font-size: 2.5rem;
    color: #444;
    padding: .5rem 0;
}



.solution{
    background: #F8F9FA !important ;
}
.products{
    background: #F8F9FA !important;
}

.solution .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem,1fr));
    gap: 1rem;
}

.solution .box-container .box{
    padding: 3rem 3rem;
    background: #fff;
    outline: var(--outline);
    outline-offset: -1rem;
    text-align: center;
    box-shadow: var(--box-shadow);
    border-radius: 15px;
}

.solution .box-container .box:hover{
    outline: var(--outline-hover);
    outline-offset: 0rem;
    box-shadow: var(--box-shadow);
}

.solution .box-container .box img{
    margin: 1rem 0;
    width: 100%;
    height: 17rem;
}

.solution .box-container .box h3{
    font-size: 1 .5rem;
    line-height: 1.8;
    color: #000;
    font-weight: 800;
}

.solution .box-container .box p{
    font-size: 1rem;
    line-height: 1.5;
    color: var(--light-color);
    padding: 1rem 1rem;
}

.products .slide{
    padding: 3rem;
    background: rgb(255, 255, 255);
    outline: var(--outline);
    outline-offset: -1rem;
    text-align: center;
    box-shadow: var(--box-shadow);
    border-radius: 15px;
}

/* .products .slide:hover{
    outline: var(--outline-hover);
    outline-offset: 0rem;
} */

.products .slide img{
    height: 25rem;
    margin: 5rem 0;
    width: 100%;
    transform: scale(1);
}

.products .slide h3{
    padding: 1rem 0;
    font-size: 2.5rem;
    text-transform: uppercase;
    opacity: 1;
}

.products .slide span{
    padding: 1rem 0;
    font-size: 2.5rem;
    text-transform: uppercase;
    color: #ffa500;
    opacity: 1;
}

.btnn{
    display: inline-block;
    margin-top: 1rem;
    background: var(--orange);
    color: #fff;
    padding: .8rem 2rem;
    border: .2rem solid var(--orange);
    border-radius: 3px;
    cursor: pointer;
    font-size: 1.7rem;
    opacity: 0;

}

.swiper-slide-active .btnn{
    opacity: 1;
}

.products .btnn:hover{
    background: rgba(255,165,0,.2);
    color: #000;
}

.products-preview-container .btnnn{
    display: inline-block;
    margin-top: 1rem;
    background: var(--orange);
    color: #fff;
    padding: .8rem 2rem;
    border: .2rem solid var(--orange);
    border-radius: 3px;
    cursor: pointer;
    font-size: 1.7rem;
    text-decoration: none;
}

.products-preview-container .btnnn:hover{
    background: rgba(255,165,0,.2);
    color: #000;
}



.products-preview-container{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1200;
    min-height: 100vh;
    width: 100%;
    background: rgba(0,0,0,.8);
    display: none;
}

.products-preview-container .product-preview{
    /* display: flex; */
    align-items:center ;
    flex-wrap: wrap;
    gap: 1rem;
    background: #fff;
    padding: 9%;
    position: relative;
    display: none;
}

.products-preview-container .product-preview .fa-times{
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 4rem;
    cursor: pointer;
    color: var(--light-color);
}

.products-preview-container .product-preview .fa-times:hover{
    color: var(--orange);
    transform: rotate(90deg);
}

.products-preview-container .product-preview .image{
    flex: 1 1 40rem;
}
.products-preview-container .product-preview .image img{
    width: 100%;
    height: 30vh;
}

.products-preview-container .product-preview .content{
    flex: 1 1 40rem;
}

.products-preview-container .product-preview .content h3{
    font-size: 3rem;
    color: #000;
    text-transform: capitalize;
}

.products-preview-container .product-preview .content p{
    font-size: 1.5rem;
    color: var(--light-color);
    line-height: 2;
    padding: 1rem 0;
}

/* ABOUT style starts  */

.about-img img{ 
    width: 100%;

}

.about-home-text {
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-home-text a{
   text-decoration: none;
   color: black;
   font-size: 14px;
}

.about-home-text a:hover{
    color: #7571F0;
}

.text-p{
    margin: 0 auto;
    font-size: 17px;
    margin-left: 233px;
    color: #989898;
}

.about-company{
    margin: 50px auto;
    padding: 0 230px;
}

.about-company h2{
    letter-spacing: 1px;
    font-size: 42px;
    font-weight: 800;
}

.about-company-text{
    margin-top: 50px;
    font-size: 14px;
    letter-spacing: .5px;
}

/* About style ends  */

/* Carousel starts */
.clients{
    background: #F8F9FA!important;
    margin: 0 auto;
}

.clients .slide{
    padding: 3rem;
    outline: var(--outline);
    outline-offset: -1rem;
   
}



.clients .slide img{
    padding: 0 15px;
    height: 25rem;
    margin: 5rem 0;
    width: 100%;
    transform: scale(1);
}


/* carousel ends  */


/* Review starts */

.review{
    background: #F8F9FA !important;
    padding-bottom: 15rem;
}

.review .review-slider .box{
    padding: 3rem;
    background: rgb(255, 255, 255);
    outline: var(--outline);
    outline-offset: -1rem;
    text-align: center;
    box-shadow: var(--box-shadow);
    border-radius: 15px;
}

.review .review-slider .box:hover{
    outline:var(--orange);
    outline-offset: 0rem;
}

.review .review-slider .box img{
    height: 10rem;
    width: 10rem;
   border-radius: 50%;
}

.review .review-slider .box h3{
    padding: 1rem 0;
    font-size: 2.5rem;
    font-weight: 800;
    text-transform: uppercase;
  
}

.review .review-slider .box p{
    padding: 1rem 0;
    line-height: 1.8;
    font-weight: 800;
    color: var(--black);
    font-size:1rem;
}


/* footer starts */
footer{
    
     font-size: 1rem;
     font-family: sans-serif;
     color: #fff;

}

footer ul li a{
    color: #fff;
    font-size: 17px;
    text-decoration: none;
}

.col-lg-3 ul li{
    list-style: none;
    padding: 5px 0;
}
.col-lg-3 h4{
    margin-left: -20px;
}

.col-lg-3 ul {
    margin-left: -39px;
}
.footer-text{
    color: #666;
}

.footer-text p{
    font-size: 1.5rem;
    padding: 1px 0;
}
.col-icons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: -8rem;
}

.theme-bg-dark{
    background: var(--black);
    box-shadow: 0 8px 32px 0 rgba(19,19,20,0.37);
    /* backdrop-filter: blur(4px); */
    border: 3px solid var(--black);
}

.container-images{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-images .images-1 img{
  width: 15%;  
}

.copyright p{
    font-size: 1rem;
}

.col-heading{

    font-size: 2rem;
}

.mb-2{
    margin-left: -1.7rem;
}

/* scroll  */
.scrollToTop-btn{
    z-index: 999;
    position: fixed;
    background: var(--orange);
    color: #fff;
    width: 45px;
    height: 45px;
    right: 0;
    bottom: 22px;
    font-size: 22px;
    text-align: center;
    line-height: 45px;
    border-radius: 3px;
    cursor: pointer;
    opacity: 0;
    transition: .3s ease;
}

.scrollToTop-btn.active{
   right: 20px;
   opacity: 1;
}

/* Blog styel starts */

.blog-text {
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog-text a{
   text-decoration: none;
   color: black;
   font-size: 14px;
}

.blog-text a:hover{
    color: #7571F0;
}

.blog-h2 h2{
    font-size: 42px;
    font-weight: 800;
    margin-left: 230px;
    margin-top: 50px;
    color: #4B4B4D;
}

.blog-text-p p{
    margin-left: 240px;
    font-size: 12px;
    color: #4B4B4D;
    font-weight: 500;
}

.blog-box-container{
    display: flex;
    margin: 0 23rem;
    flex-wrap: wrap;
    gap: 5.5rem;
    margin-bottom: 10rem;
    margin-top: 1rem;
}

.blog-box-container .blog-box{
    overflow: hidden;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
    flex: 1 1 30rem;
    height: 25rem;
    position: relative;
}

.blog-box-container .blog-box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.blog-box-container .blog-box .contentt{
    position: absolute;
    top: -150%;
    left: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    background: rgba(0,0,0,.7);
    padding: 2rem;
    padding-top: 5rem;
}

.blog-box-container .blog-box:hover .contentt{
    top: 0;
    transition: .8s ;
}


.blog-box-container .blog-box .contentt h4{
    font-size: 2.5rem;
    color: var(--orange);
    margin-top: -3rem;
}

.blog-box-container .blog-box .contentt p{
    font-size: 1.5rem;
    color: #eee;
    padding: .5rem 0;
}


/* review starts */
.review{
    padding-bottom: 3rem;
}

.review .imagee{
    padding: 3rem;
}

.review .imagee img {
    height: 40rem;
    object-fit: cover;
    box-shadow: 2.5rem 2.5rem 0 1rem var(--orange);
}

.review .infoo{
    padding: 2rem;
    margin-top: 3rem;
}

.review .infoo h2{
    color: var(--orange);
    font-size: 3rem;
}

.review .infoo p{
  font-size: 1.4rem;
  color: #444;
  margin: 2rem 0;
}

.review .infoo .icons a{
   font-size: 2rem;
   height: 4rem;
   width: 4rem;
   line-height: 4rem;
   text-align: center;
   background: #333;
   color: #fff;
   border-radius: .5rem;
   margin-right: 1rem;
   text-decoration: none;
}

.review .infoo .icons a:hover{
    background:var(--orange) ;
}
/* FAQ sytle ends  */
.Faq-container{
    font-family: 'Poppins',sans-serif;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    
}
.r-container{
    position: relative;
    background: #fff;
    margin-top: 50px;
    margin-bottom: 30px;
    border-radius: 10px;
    width: 90rem;
    filter: drop-shadow(0 0 10px rgba(0,0,0,0.5));
}

.faq-text-p{
    margin-left: 240px;
    font-size: 12px;
    color: #4B4B4D;
    font-weight: 500;
}

.Accordion{
    position: relative;
    width: 350px;
    margin-left: 40px;
    display: flex;
}

.content-accordion{

    margin-top: 35px;
    margin-right: 50px;
}

.question{
    display: flex;
    justify-content: space-around;
    align-items:center ;
    width: 320px;
}

.accordion-img{
    position: relative;
    width: 380px;
}

.Title{
    margin-top: 50px;
    font-size: 3rem;
    padding-bottom: 30px;
    text-align: center;
    font-weight: 800;
    color: #000;
}

.title-question{
    margin: 1.4rem 0;
    font-size: 1.2rem;
    font-weight: 800;
    padding: 1rem 1rem;
    color: #000;
}

.question-btn{
    font-size: 1.5rem;
    background: transparent;
    border-color: transparent;
    cursor: pointer;
}

.up-icon{
    display: none;
}

.answer {
    font-size: 1.2rem;
    line-height: 1.8;
    display: none;
    font-weight: 800;
}

.show-text .answer{
    display: block;
}

.show-text .up-icon{
    display: inline;
}

.show-text .down-icon{
   display: none;
}

.question-answer{
    width: 100%;
    border-bottom: 1px solid #e8e8e8;
}

/* Contact syle strats */

.contact-wrapper{
    box-sizing: border-box;
}

.contactUs{
    position: relative;
    width: 100%;
    padding: 40px 100px;
}

.contactUs .contact-title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.contactUs .contact-title h2{
    font-size: 32px;
    margin-top: 15px;
    margin-bottom: 30px;
    color: #000  ;
    font-weight: 700;
}

.form{
    grid-area: form;
}

.info{
    grid-area: info;
}


.contact{
    padding: 40px;
    background: #fff;
    box-shadow: 0 5px 35px rgba(0,0,0,.15);
}
.contact-box{
    position: relative;
    display: grid;  
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 5fr 4fr;
    grid-template-areas: 
    "form info";
    grid-gap: 20px;
    margin-bottom: -50rem;
}

 .contact h3{
     color: #000;
     font-weight: 700;
     font-size: 2em;
     margin-bottom: 10px;
 }

 .formBox{
     position: relative;
     width: 100%;
 }

 .formBox .row50{
     display: flex;
     gap: 10px;
 }


 .inputBox{
     display: flex;
     flex-direction: column;
     margin-bottom: 10px;
     width: 50%;
 }



 .formBox .row100 .inputBox{
     width: 100%;
 }

 .inputBox span{
     color: var(--black);
     margin-top: 10px;
     margin-bottom: 5px;
     font-weight: 500;
     font-size: 1.5em;
 }



 .inputBox input{
     padding: 10px;
     font-size: 1.1rem;
     outline: none;
     border: 1px solid #333;
 }

 .inputBox textarea{
    padding: 10px;
    font-size: 1.1rem;
    outline: none;
    border: 1px solid #333;
    resize: none;
    min-height: 220px;
 }

 .inputBox input[type="submit"]{
     background: var(--orange);
     color: #fff;
     border: none;
     font-size: 1.1em;
     max-width: 120px;
     font-weight: 5000;
     cursor: pointer;
     padding: 14px 15px;
 }

 .inputBox ::placeholder{
     color: rgb(209, 189, 189);
 }

.info{
    background: var(--black);
}

.info h3{
    font-size: 2.5rem;
    color: #fff;
}

.info .infoBox div{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.info .infoBox div span{
    min-width: 40px;
    height: 40px;
    color: var(--orange);
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    border-radius: 50%;
    margin-right: 15px;
}

.info .infoBox div p{
    color: #fff;
    font-size: 1.5em;
}

.info .infoBox div a{
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
}










































































.m{
    height: 200rem;
}










